---
layout: "/_default.haml"
---

%header
  %nav
    %a{rel: 'me', href: 'http://twitter.com/ben_h'} twitter
    %a{rel: 'me', href: 'http://github.com/benhoskings'} github
  %h1= link('index.html', 'ben hoskings')

%article
  %header
    %h1= link(page, formatted_headline_for(page.title))
    %time{:pubdate => 'pubdate'}= date_of(page).strftime "%Y/%m/%d"
  .body
    ~ yield
